/*
/*/

!.gitignore
!/Assets/
!/ProjectSettings/
!/Packages/
!/Screenshots/

*.blend1
*.blend1.meta

/Assets/TinyCombatTools/Settings/ModBuilderSettings.asset
/Assets/TinyCombatTools/Settings/ModBuilderSettings.asset.meta
